assets/jumbotron.JPG
assets/photos/*
assets/videos/*
MobileApp/privateig/privateig.Android/bin/*
MobileApp/privateig/privateig.Android/obj/*
MobileApp/privateig/.vs/privateig/xs/sqlite3/storage.ide
MobileApp/privateig/.vs/privateig/xs/sqlite3/storage.ide
MobileApp/privateig/.vs/privateig/xs/sqlite3/storage.ide-shm
MobileApp/privateig/.vs/privateig/xs/sqlite3/storage.ide-wal
MobileApp/privateig/.vs/privateig/xs/UserPrefs.xml
MobileApp/privateig/privateig/Secret.cs
